.header {
	display: flex;
	a:link,
	a:visited {
		text-decoration: none;
	}
}

.header-logo {
	a {
		display: block;
		padding: 1em;
	}
	h1 {
		font-weight: bold;
	}
}

.nav {

}

.nav-items {
	display: flex;
	li a {
		display: block;
		padding: 1em;
	}
}

.header-reset-button {
    margin: 1em;
    margin-left: auto; // <- this pushes the reset button to the right side of the screen
}
